
#canvas-container{
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
}

canvas{
  position: relative;
  top: 50%;
  translate: 0% -50%;
  height: 70vh;
  aspect-ratio: 2;
  image-rendering: pixelated;
}

.health-bar{
  position: absolute;
  height: 4vh;
  width: 40vh;
  top: 18vh;
  border: 1px brown solid;
  border-radius: 2vh;
  background-color: wheat;
}

.health-bar-left{
  translate: -100% 0%;
}

.health-bar-right{
  translate: 100% 0%;
}


.health-value {
  position: absolute;
  top: 49.85%;
  transform: translate(-50%, -50%);
  background-color: brown;
  border-radius: 2vh;
  height: 3.8vh;
}


.timer{
  position: absolute;
  font-size: 10vh;
  top: 16vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.connection-modal{
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 1;
  translate: 0% 0%;
  height: 40vh;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.7);

  button{
    position: relative; 
    left: 15%;
    background-color: aqua;
    margin: 10px;
    height: 12vh;
    width: 30%;
  }

  input{
    position: relative;
    left: 30%;
  }
}

.connection-modal-text{
  margin-top: 5%;
  text-align: center;
  position: relative;

  translate: -25% 0%;
  left: 33%;
  color: bisque;
  font-size: 10vh;
  height: 12vh;
}

#result-container{
    position: absolute;
    display: none;
    top: 10%;
    left: 50%;
    translate: -50% 0;
    border-radius: 16px;
    background-color: pink;
    height: 30vh;
    width: 40vh;
    z-index: 1;
    font-size: 10vh;
    padding: 5%;
    text-align: center;
}

#tip{
  position: absolute;
  display: none;
  height: 8vh;
  width: 30vh;
  background: yellow;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  z-index: 2;
  translate: -50% 0%;
  text-align: center;
  padding-top: 4vh;
}
